@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #000000;
    
    --one-object-color: #101010;
    --two-object-color: #202020;
    --three-object-color: #303030;
    
    --text-color: #ffffff;
    
    --main-color: #a235b1;
    --blend-main-color: #b57abd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 19px;
}

a {
    color: var(--blend-main-color);
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color)
}

.tabs {
    width: 430px;
    height: 345px;
    text-align: center;
    background-color: var(--one-object-color);
    border-radius: 20px;
    padding: 20px; 
}


.tabs > input[type="radio"] {
    display: none;
}

.tab-content {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: none; 
    
}

#tab-1:checked ~ #content-1, #tab-2:checked ~ #content-2 {
    display: block;
    display: flex; /* Для включения flexbox */
    justify-content: center; /* Центрируем контент по горизонтали */
    align-items: center; /* Центрируем контент по вертикали */
    height: 80%; /* Контент займет всю высоту контейнера */
}

.tabs > input[type="radio"]:checked + label {
    color: var(--blend-main-color); 
}
#content-1 form, #content-2 form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-field {
    color: var(--text-color);
    padding: 10px;
    width: 15rem;
    outline: none;
    border-radius: 10px;
    background: var(--two-object-color);
    border: 1px solid var(--three-object-color);
    
}
.checkbox-field {
    margin-top: 0.3rem;
}

.input-field:focus {
    background: var(--three-object-color); 
    outline: none; 
}

.btn-register, button[type="submit"] {
    padding: 9px;
    width: 15rem;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    margin-top: 0.7rem;
    color: var(--text-color);
}
